* {
    margin: 0;
    padding: 0;
}

.registration {
    font-size: medium;
}

.name {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 170px;
    top: 654px;
}

.surname {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 170px;
    top: 708px;
}

.rectangle_m {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 170px;
    top: 762.44px;
    
    background: #FFFFFF;
    /* Primary Color */
    
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.rectangle_w {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 288px;
    top: 762.44px;
    
    background: #FFFFFF;
    /* Dark 25% */
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
}

.man {
    position: absolute;
    width: 68px;
    height: 24px;
    left: 200px;
    top: 762.44px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    /* Dark 75% */
    
    color: rgba(31, 32, 65, 0.75);
} 

.woman {
    position: absolute;
    width: 73px;
    height: 24px;
    left: 317.74px;
    top: 762px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    /* Dark 50% */
    
    color: rgba(31, 32, 65, 0.5);
}

.date {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 170px;
    top: 826px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.date_birth {
    position: absolute;
    width: 118px;
    height: 15px;
    left: 170px;
    top: 806px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Dark 100% */

    color: #1F2041;
    }

.data_logging {
    position: absolute;
    width: 211px;
    height: 15px;
    left: 170px;
    top: 890px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Dark 100% */

    color: #1F2041;
}

.email {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 170px;
    top: 910px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.password {
    
    position: absolute;
    width: 320px;
    height: 44px;
    left: 170px;
    top: 964px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.switch {
    position: absolute;
    width: 40px;
    height: 20px;
    left: 170px;
    top: 1018px;

    background: #FFFFFF;
    /* Dark 25% */

    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
}

.switch_label {
    position: absolute;
    width: 210px;
    height: 24px;
    left: 220px;
    top: 1018px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
}